<div id="search-component" dir="rtl">
  <h4>סינונים:</h4>
<div>
  <span>חיות: </span>
    <a routerLink="/dashboard" (click)="animals('src/app/images/no-animals.png')"> <img src="src/app/images/no-animals.png"/></a>
    <a routerLink="/dashboard" (click)="animals('src/app/images/animals.png')"> <img src="src/app/images/animals.png" /></a>
</div>
<div>
  <span>עישון: </span>
  <a routerLink="/dashboard" (click)="smoks('src/app/images/no-smoking.png')"> <img src="src/app/images/no-smoking.png" /></a>
  <a routerLink="/dashboard" (click)="smoks('src/app/images/smoking.png')"> <img src="src/app/images/smoking.png" /></a>
</div>
</div>

<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}" dir="rtl">


      <img src="{{hero.personeImg}}" style="width: 257px; height: 171px; margin-left: -3px; margin-right: -2px; margin-top: 0px;"/>
      <div><span>כתובת: </span>{{hero.address}}</div>
      <div><span>גיל: </span>{{hero.age}}</div>
      <div><span>טלפון: </span>{{hero.phoneNumber}}</div>
      <div><img src="{{hero.animals}}"/> <img src="{{hero.smoking}}"/> </div>

  </a>
</div>
