<div id="search-component" dir="rtl">
  <h4>סינונים:</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <div>
    <span>חיות: </span>
    <img src="src/app/images/no-animals.png" /><img src="src/app/images/animals.png" />
  </div>
  <div>
    <span>עישון: </span>
    <img src="src/app/images/no-smoking.png" />
    <img src="src/app/images/smoking.png" />
  </div>

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>


</div>
